@import url('https://pro.fontawesome.com/releases/v5.15.2/css/all.css');

.page_container,
.app,
.root {
  position: absolute;
  width: 100%;
  height: 100%;
  color: wheat;
}

.page_container {
  overflow-y: auto;
}

.nav {
  /* flex-direction: row; */

  /* justify-content: space-between; */
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 101;
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  list-style: none;
  background-color: rgb(5, 78, 84);
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 10px 5px;
  border-bottom: 5px solid transparent;
  color: antiquewhite;
  background-color: rgb(5, 78, 84);
}

.nav_list_item {
  display: block;
  min-width: 90px;
}

.nav_home_btn {
  background-image: linear-gradient(
    to left,
    rgb(6, 102, 110),
    rgb(5, 78, 84),
    rgb(5, 64, 70)
  );
}

.nav_donate_btn {
  background-color: rgba(19, 33, 43, 0.4);
}

.nav_home_btn:hover,
.nav_home_btn:focus {
  border-bottom: 5px solid rgb(1, 172, 158);
  color: rgb(250, 255, 236);
  background-color: rgb(1, 57, 94);
  background-image: linear-gradient(
    to right,
    rgb(6, 102, 110),
    rgb(5, 78, 84),
    rgb(5, 64, 70)
  );
}

.nav_donate_btn:hover,
.nav_donate_btn:focus {
  border-bottom: 5px solid goldenrod;
  background-color: rgba(1, 20, 22, 0.795);
}

.title {
  padding: 25px 9px 0;
  color: rgb(23, 185, 185);
  font-size: 2.5em;
  text-align: center;
}

.title_sub0 {
  color: rgb(21, 179, 131);
}

.main {
  position: relative;
  inset-block-start: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-block-start: 50px;
}

.translation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.row1,
.fullpage_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: blue;
  background-image: linear-gradient(
    180deg,
    rgb(16, 16, 24) 50%,
    rgb(19, 26, 54) 60%
  );
}

.fullpage_centered {
  justify-content: center;
}

.source_target_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
}

.io_wrapper {
  display: flex;
  flex: 0 0 49%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 255px;
  height: 100%;
}

.selection_lang {
  display: flex;
  align-items: center;
  padding: 7px 4px;
  border: none;
  color: rgb(249, 255, 227);
  font-size: 1.5em;
  background: rgb(22, 124, 128);
}

.select {
  margin: 0 0 0 7px;
}

.source_field,
.translation_output {
  display: block;
  width: 100%;
  height: 200px;
  color: black;
  font-size: 2em;
  background-color: white;
  resize: none;
}

.translation_output {
  border: none;
}

.footer {
  padding: 5px;
  color: rgb(2, 0, 0);
  text-align: center;
  box-shadow: inset 0 1px 2px 1px rgb(19, 26, 54);
}

.under_construction {
  position: fixed;
  inset-block-start: 49px;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(0, 32, 41);
  background-image: linear-gradient(
    to left,
    rgb(248, 91, 91) 10%,
    rgb(238, 219, 71) 50%,
    rgb(253, 100, 100) 90%
  );
}

.under_construction_msg::before {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 5px;
  color: rgb(28, 28, 18);
  font-family: 'Font Awesome 5 Pro', sans-serif;
  animation: slidein 2s ease-in-out alternate both infinite;
  content: '\e037';
}

@keyframes slidein {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(-0.8);
  }
}

.show_progress {
  margin-inline-start: 3px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  color: rgb(248, 250, 248);
  background-color: rgba(3, 74, 84, 0.815);
  box-shadow: 2px 5px 10px rgba(119, 119, 119, 0.5);
  cursor: pointer;
}
