.container,
.app,
.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: wheat;
}

.root {
  position: relative;
  overflow-y: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
  z-index: 101;
  font-size: 1.4em;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(5, 78, 84);
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 10px 5px;
  color: antiquewhite;
  border-bottom: 5px solid transparent;
  background-color: rgb(5, 78, 84);
}

.nav_list_item {
  display: block;
}

.nav_home_btn {
  background-image: linear-gradient(
    to left,
    rgb(6, 102, 110),
    rgb(5, 78, 84),
    rgb(5, 64, 70)
  );
}

.nav_donate_btn {
  background-color: rgba(19, 33, 43, 0.4);
}

.nav_home_btn:hover {
  background-color: rgb(1, 57, 94);
  color: rgb(250, 255, 236);
  border-bottom: 5px solid rgb(1, 172, 158);
  background-image: linear-gradient(
    to right,
    rgb(6, 102, 110),
    rgb(5, 78, 84),
    rgb(5, 64, 70)
  );
}

.nav_donate_btn:hover {
  background-color: rgba(1, 20, 22, 0.795);
  border-bottom: 5px solid goldenrod;
}

.title {
  font-size: 2.5em;
  text-align: center;
  color: rgb(23, 185, 185);
  padding: 100px 9px 0;
}

.title_machine {
  color: rgb(21, 179, 131);
}

.title_translator {
  color: rgb(18, 130, 138);
}
.main {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.translation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.row1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  background-image: linear-gradient(
    180deg,
    rgb(16, 16, 24) 50%,
    rgb(19, 26, 54) 60%
  );
}

.source_target_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 5px 5px;
  gap: 10px;
  border-radius: 3px;
  /* background: rgb(255, 90, 14); */
}
.io_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 255px;
  flex: 0 0 49%;
  height: 100%;
}

.selection_lang {
  display: flex;
  align-items: center;
  padding: 7px 4px;
  border: none;
  background: rgb(22, 124, 128);
  color: rgb(249, 255, 227);
  font-size: 1.5em;
}

.select {
  margin: 0 0 0 7px;
}

.source_field,
.translation_output {
  resize: none;
  width: 100%;
  height: 200px;
  background-color: white;
  color: black;
  font-size: 2em;
  display: block;
}

.translation_output {
  border: none;
}

.footer {
  padding: 5px;
  text-align: center;
  color: rgb(2, 0, 0);
  box-shadow: inset 0px 1px 2px 1px rgb(19, 26, 54);
}

.under_construction {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 49px;
  z-index: 1001;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgb(248, 91, 91) 10%,
    rgb(238, 219, 71) 50%,
    rgb(253, 100, 100) 90%
  );
  color: rgb(0, 32, 41);
}
